@font-face {
    font-family: poppinsregular;
    src: url(fonts/Poppins-Regular.ttf);
    transition: 2s;
}
html{
    scroll-behavior: smooth;
    transition: 2s;
}
body {
    background-color: #261A2F;
    margin: 0;
    padding:0;
}

.encabezado {
    font-family: poppinsregular;
    font-size: 25px;
    background-color: black;
    width: 100vw;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 9999;
    margin: 0%;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    
    
    
}

.imagen {
    display: flex;
    align-items: center;
    width: 65px;
    height:65px;
    margin-left: 10%;
    image-rendering: auto;
}
.menu {
    width: 60%;
    height: auto;
}
.menu-items{
    display: flex;
    justify-content: space-around;
    transform: translateY(15px);
    transform:translateX(-20px);
}

.menu-items>li>a {
    color: #c8b8db;
    text-decoration: none;
    list-style: none;
    transition-duration: 0.6s;
    border-radius: 12px;
}

.items:hover {
    transition: 0.32s;
}

.items:active {
    background-color: #3d374597;
    transform: scale(0.76);
    transition: 0.32s ease-out;
    border-radius: 12px;
    }

.menu-items>li>a:hover {
    color: #000000;
    padding: 5px;
    background-color: #9c8bb099;
    border-radius: 12px;
    transition: 0.32s ease-in-out;
    transform: scale(0.86);

}

.menu-items>li>a:active {
    background-color:  #3d374597;
    transition: 0.1s ease-in-out;
    transition-delay: -0.32s;
}
    

.section1 {
    width: 90%;
    height:480px;
    border-radius: 10px;
    background-color: #000000;
    font-family:poppinsregular;
    color: #c8b8db;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 14%;
    margin-left: 5%;
    border: 0;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    
    
}
.divsection {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 70px;
    color: white;
    border: 7px  solid #261A2F;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 2%;
    background: linear-gradient(270deg, #b527cf, #3bd9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.somos{
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align:center;
}

.leer-mas {
    font-family:poppinsregular;
    font-size: 22px;
    color: white;
    background-color: #70587c;
    border-radius: 13px;
    transition-duration: 0.7s;
}
.leer-mas:hover {
    color: black;
    background-color: #c8b8db;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.1);
}

.leer-mas:active {
    transform: scale(1.04);
    transition: 0.1s ease-in-out;
    background-color:#574462;
    box-shadow: inset 0px 0px 5px black;

}
.imagensection {
    margin-right: 8%;
}
#oip {
    width: 300px;
    height: 300px;
    border-radius: 10px;
     
}


h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 0%;
   
}

.trabajar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ventajas {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 500px;
    align-items: center;
    
}

.diventajas {
    width: 25%;
    height: 80%;
    background-color: #000000;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    transition-duration: 0.3s;
}
.diventajas:hover {
    transform: scale(1.07);
    transition: 0.3s;
    overflow: hidden;
    
}

.porque {
    color: white;
    font-size: 50px;
    font-family: poppinsregular;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
   
}

.img-ventajas {
    margin-top: 10%;
    
}
 
.titulo-ventajas {
font-family: poppinsregular;
font-size: 25px;
color: white;
text-align: center;
}

.parrafo-ventajas {
font-family: poppinsregular;
font-size: 18px;
color: #c8b8db;
width: 90%;
height: 38%;
text-align: center;
}
.clientes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.nuestros {
    margin-top: 10%;
    margin-bottom: 12%;
}
.contenedor-box {
    width: 90%;
    height:350px;
    border-radius: 13px;
    background-color: #000000;
    font-family:poppinsregular;
    color: #c8b8db;
    border:0;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 22%;
    height: 290px;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    border-radius: 13px;
    overflow: hidden;
    background-size:cover;
    background-position: center;
    transition-duration: 0.3s;
  
}

.box:hover {
    transform: scale(1.07);
    transition: 0.3s ease-out;
    cursor: pointer;
    position:relative;
    
}

.box1{
    background-image: url(./images/apple\ \(1\).jpg);
    
}

.box2{
    background-image: url(./images/samsung-galaxy-a8-s.jpg);
}

.box3{
    background-image: url(./images/compañía-de-microsoft.jpg);
}

.box4{
    background-image: url(./images/google.jpg);
}


.detalles {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 0.7s;
}

.detalles:hover{
    opacity: 1;
    transition: 0.4s ;
    transform: scale(1.3);
    background-color: rgba(0,0,0,0.6);
}

.nombreclientes{
    font-size: 23px;
    color:linen;
    font-weight: bold;
}

.descripcionclientes{
    font-size: 15px;
    color:gray;
}

.visitar {
    font-family: poppinsregular;
    border-radius: 14px;
    font-weight: bolder;
    width: auto;
    height: auto;
    background-color: rgba(43, 42, 42, 0.4);
    border: 0;
    color: darkgrey;
    margin-top: 18px;
    transition-duration: 0.7s;
}
.visitar:hover {
    cursor: pointer;
    transform: scale(1.23);
    transition: 0.4s;
    color: whitesmoke;
    /* background-color: rgba(67, 44, 61, 0.7); */
    background-color: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.visitar:active {
    transform: scale(1);
    transition: 0.15s;
}
.contactanos-sociales {
    width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    align-items: center;
    justify-content:center;
}


.contactanos{
    width: 60%;
    height: 100%;
    background-color: #000000;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    border-radius: 12px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    font-family: poppinsregular;
}

.titulo-contactanos {
    font-size: 50px;
    color: white;
    margin: 0;
    margin-bottom: 13px;
    background: linear-gradient(270deg, #b527cf, #3bd9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputs {
    color: #c8b8db;
    font-size: 25px;
}

.input-check {
    display: flex;
    flex-direction: row-reverse;
    color: aliceblue;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;    
} 

#checkbox {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background-color: #502f4c;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 30px;
}


#nombre ,#apellido, #email {
    box-shadow: inset 2px 2px 4x black;
    width: 50%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: #362635da;
    margin-left: 10px;
    margin-bottom: 16px;
    color: white;
    font-family: poppinsregular;
    font-size: 20px;
    text-align: center;
}

#nombre:focus ,#apellido:focus, #email:focus{
    background-color: #32293d;
}

#nombre:focus ,#apellido:focus, #email:focus{
    background-color: #32293d;
}

.label-mail {
    margin-right: 14px;
}

.formulariocontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sociales {
    width: 15%;
    height: 100%;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociales {
    width: 45%;
    margin: 5%;
    transition-duration: 0.6s;
}
.redes-sociales:hover {
    transform: scale(0.9);
    transition: 0.13s ease-in-out;
    opacity: 0.75;
}

.redes-sociales:active {
    transform: scale(0.75);
    opacity: 0.4;
    transition-duration: 0.1s;
}



.foot {
    background-color: #000000;
    width: 100vw;
    height: 90px;
    font-family:poppinsregular;
    font-size: 16px;
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

.mapa-container {
    width: 60% ;
    height: 450px ;
    background-color: #000000;
    -webkit-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    box-shadow: 0px -1px 5px 9px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    color: darkgray;
    font-family: poppinsregular;
}
.mapa {
    width: 90%;
    height: 80%;
    border: 0;
    border-radius: 16px;
    opacity: 0.75;
    transition-duration: 0.3s;
}

.mapa:hover {
    opacity: 1;
    width: 90%;
    transform: scale(1.4);
    transition-delay: 0.1s;
    transition: 0.7s ease-in-out;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    -webkit-box-shadow: -6px 7px 5px 200px rgba(0,0,0,0.36);
-moz-box-shadow: -6px 7px 5px 200px rgba(0,0,0,0.36);
box-shadow: -6px 7px 5px 200px rgba(0,0,0,0.36);
}
.titulo-mapa {
    color: white;
    font-size: 30px;
    padding: 0;
    border: 0;
    margin: 15px;
}
